@import "assets/variables";

.request {
  width: 1080px;
  margin: 0 auto;
  padding: 50px 15px 150px 15px;
  @media (max-width: 1080px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 10px 10px 75px 10px;
  }
  .now-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-gray-50;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    @media (max-width: 768px) {
      border-radius: 10px;
    }
    .now-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      animation: scale 35s linear infinite;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .now-content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 300px;
      gap: 10px;
      @media (max-width: 580px) {
        min-height: 250px;
        height: 100%;
        padding: 40px 10px 10px 10px;
      }
      .now-badge-live {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: $color-white;
        background-color: $color-pink;
        padding: 4px 10px;
        border-radius: 8px;
        cursor: default;
        @media (max-width: 768px) {
          border-radius: 5px;
        }
        svg {
          color: $color-white;
          margin-right: 5px;
        }
      }
      .now-title {
        position: relative;
        display: flex;
        font-size: 40px;
        color: $color-neonyellow;
        @media (max-width: 580px) {
          font-size: 24px;
        }
        .dots-wave {
          span {
            display: inline-block;
            animation: disappear 3s infinite;
            &:nth-child(1) {
              animation: dotWave1 3s infinite;
            }
            &:nth-child(2) {
              animation: dotWave2 3s infinite;
            }
            &:nth-child(3) {
              animation: dotWave3 3s infinite;
            }
          }
        }
      }
      .now-song-name {
        width: auto;
        p {
          color: $color-pink;
          font-size: 28px;
          position: relative;
          text-align: center;
          @media (max-width: 580px) {
            font-size: 24px;
          }
        }
      }
    }
  }
  .up-next {
    margin-top: 50px;
    @media (max-width: 580px) {
      margin-top: 0;
    }
    .next-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        padding: 10px;
      }
      @media (max-width: 580px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
      }
      h4 {
        font-size: 28px;
        color: $color-gray-50;
      }
      p {
        font-size: 14px;
        color: $color-gray-50;
      }
    }
    .next-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      p {
        color: $color-gray-50;
        font-size: 40px;
      }
    }
    .next-requests {
      position: relative;
      background-color: $color-gray-20;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        border-radius: 10px;
      }
      .list {
        position: relative;
        z-index: 1;
        .item {
          display: flex;
          width: 100%;
          height: 100px;
          background-color: $color-gray-50;
          border-bottom: 1px solid $color-gray-60;
          overflow: hidden;
          @media (max-width: 580px) {
            height: 100%;
          }
          &:first-child {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            @media (max-width: 768px) {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }
          &:last-child {
            border-bottom: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            @media (max-width: 768px) {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          .item-order {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $color-gray-60;
            font-size: 40px;
            color: $color-white;
            @media (max-width: 580px) {
              display: none;
            }
          }
          .item-detail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            overflow: hidden;
            position: relative;
            gap: 20px;
            @media (max-width: 580px) {
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              padding: 20px;
              gap: 10px;
            }
            .title {
              font-size: 20px;
              color: $color-white;
              @media (max-width: 768px) {
                font-size: 16px;
                // text-align: center;
              }
            }
            .detail {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              flex-direction: column;
              @media (max-width: 580px) {
                width: 100%;
                justify-content: space-between;
                flex-direction: row;
              }
              .sender {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                font-size: 14px;
                color: $color-white;
                @media (max-width: 580px) {
                  align-items: flex-start;
                  font-size: 12px;
                }
                svg {
                  margin-right: 10px;
                }
                span {
                  margin-top: 1px;
                }
                .time {
                  font-size: 10px;
                  color: $color-gray-99;
                }
              }
              .delete {
                font-size: 12px;
                color: $color-pink;
                cursor: pointer;
                // @media (max-width: 580px) {
                //   position: absolute;
                //   top: 5px;
                //   right: 5px;
                // }
              }
            }
          }
        }
      }
      .send {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: relative;
        padding: 20px;
        .title {
          margin-bottom: 10px;
          h2 {
            color: $color-white;
            font-size: 22px;
          }
        }
        // .ant-form {
        //   .ant-form-item-control-input-content {
        //     // position: relative;
        //     > .ant-input {
        //       &:hover + span {
        //         opacity: 1;
        //       }
        //     }
        //     > span {
        //       position: absolute;
        //       top: 0;
        //       left: 0;
        //       opacity: 0; // ซ่อน span
        //       transition: opacity 0.3s; // เพิ่มการเปลี่ยนแปลงของ opacity
        //     }
        //   }
        // }
        .close-request {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(5px);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          padding: 50px;
          @media (max-width: 580px) {
            padding: 20px;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
          }
          .image-overlay {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            opacity: 0.3;
            pointer-events: none;
          }
          p {
            color: $color-white;
            font-size: 20px;
            text-align: center;
            @media (max-width: 580px) {
              font-size: 16px;
            }
            .text-danger {
              color: $color-pink;
            }
            a {
              color: $color-neonyellow;
            }
          }
        }
      }
    }
  }
}

.request-offline {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 44px;
  }
  p {
    font-size: 22px;
  }
}
