@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dotWave1 {
  0%, 25%, 100% {
    opacity: 0;
  }
  30%, 90% {
    opacity: 1;
  }
}
@keyframes dotWave2 {
  0%, 50%, 100% {
    opacity: 0;
  }
  55%, 90% {
    opacity: 1;
  }
}
@keyframes dotWave3 {
  0%, 75%, 100% {
    opacity: 0;
  }
  80%, 90% {
    opacity: 1;
  }
}
@keyframes disappear {
  90%, 100% {
    opacity: 1;
  }
  0%, 95%, 100% {
    opacity: 0;
  }
}
@keyframes colorChange {
  0% {
    color: #ffb3ba; /* pastel pink */
  }
  10% {
    color: #ffd6a5; /* pastel peach */
  }
  20% {
    color: #ffffba; /* pastel yellow */
  }
  30% {
    color: #b5e7a0; /* pastel green */
  }
  40% {
    color: #c0f2d1; /* pastel mint */
  }
  50% {
    color: #a0c4ff; /* pastel blue */
  }
  60% {
    color: #bdb2ff; /* pastel lavender */
  }
  70% {
    color: #c9afff; /* pastel purple */
  }
  80% {
    color: #a0ffe6; /* pastel turquoise */
  }
  90% {
    color: #e6ffb3; /* pastel lime */
  }
  100% {
    color: #ffb3ba; /* back to pastel pink */
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.donate-container {
  width: 100vw;
  min-height: calc(100vh - 75px);
  padding-top: 75px;
  position: relative;
}
.donate-container .donate {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  padding: 50px 15px 150px 15px;
}
.donate-container .donate .donate-title {
  display: flex;
  margin-bottom: 20px;
}
.donate-container .donate .donate-title h2 {
  font-size: 40px;
  color: #2f3137;
}
.donate-container .donate .donate-content {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  background-color: #3b3d45;
  padding: 30px;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.donate-container .donate .donate-content > div:nth-child(1) {
  width: 50%;
}
.donate-container .donate .donate-content > div:nth-child(1) h4 {
  color: #ffffff;
  font-size: 16px;
}
.donate-container .donate .donate-content > div:nth-child(2) {
  width: 50%;
  margin: 5px 0;
}
.donate-container .donate .donate-content > div:nth-child(2) .qr {
  width: 100%;
}